/* @font-face {
    font-family: "Linden-Hill";
    src: url(/LindenHill-webfont.ttf);
} */

body {
    margin: 0px 0px;
    background-color:#fdfdf0;
}

.intro-section {
    padding: 70px 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("images/ocean.png");
    background-size: cover;
    background-position: center; */
}

#intro {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#name {
    position: relative;
}

#profile {
    position: relative;
}

#oval {
    position: absolute;
    height: 103%;
    width: 85%;
    left: 7px;
    top: -30px;
}

#my-pic {
    position: relative;
    border-radius: 50%;
    margin-right: 30px;
    border-start-start-radius: 80%;
    border-bottom-right-radius: 80%;
}

#my-name {
    font-family:'Libre Baskerville', serif;
    font-weight:bold;
    font-size: 50px;
    color:rgb(100, 149, 237);
}

#shooting-star {
    position: absolute;
    bottom: 70px;
    left: 230px;
    width: 100px;
    height: 100px;
}

.paragraph {
    font-family: 'Work Sans';
    font-size: 18px;
    display: flex;
    justify-content: left;
    text-align: left;
}

nav {
    text-align: center;
    padding: 30px;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
}

.navigation a {
    font-family:'Libre Baskerville', serif;
    font-size: 20px;
    text-align: center;
    color:cornflowerblue;
    text-decoration:none;
    padding: 40px;
}

#current {
    /* font-style: italic; */
    /* text-decoration-line: underline;
    text-underline-offset: 8px; */
    background-image: url("assets/squiggle.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position:center 65px;
}

  
a:hover {
    /* color:darkslateblue; */
    /* text-decoration-line: underline;
    text-underline-offset: 8px; */
    background-image: url("assets/squiggle.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 65px;
    /* transition: color 0.4s; */
}


h1 {
    font-family: 'Libre Baskerville';
}

p {
    color:black;
}

.imgs {
    display: block;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
}

.gall-img {
    width: fit-content;
    height: 400px;
    padding: 30px;
    object-fit: cover;
    transition: height 1s ease;
}

.gall-img:hover {
    height: 500px;
}



img {
    width: 450px;
    padding: 20px;
    vertical-align: middle;
}

/* .rotating {
    position: absolute;
    margin:-60px 0 0 -60px;
    animation: spin 3s linear infinite;
} */

/* .shooting-star {
    position: absolute;
} */



/* #star-curve {
    width: 50px;
    height: 50px;
    position:absolute;
    transform:translateX(345px) translateY(-65px) rotate(15deg);
} */

#portfolio {
    background-image: url("images/sky.jpeg");
    background-size:cover;
    background-position-y: 20%;
}

#portfolio-banner {
    padding: 60px 0px;
    /* background-image: url("images/lake.jpg");
    background-size: cover;
    background-position-y: 60%; */
}

.page-title {
    font-size: 100px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #fdfdf0;
    margin: 0;
    padding-block: 120px 90px;
}

.gallery {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 0px 70px;
}

.image-and-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 3px 30px;
    margin: 30px;
    background-color: #fdfdf0;
}

.image-and-cat:hover {
    box-shadow: 0px 10px 30px #00000076;
    transform: rotate(3deg);
    transition: transform 0.5s;
}

.square {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.category {
    font-family: 'Work Sans';
    font-size: 20px;
    padding-top: 10px;
}

a {
    color: black;
    text-decoration: none;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
