/* @font-face {
    font-family: "Linden-Hill";
    src: url(/LindenHill-webfont.ttf);
} */

body {
    margin: 0px 0px;
    /* background-image: url("images/kiwihug-zGZYQQVmXw0-unsplash.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode:lighten; */
    background-color:#fffdf9;
}

.intro-section {
    padding: 70px 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("images/windowView.gif");
    background-size: cover;
    background-position: center; */
}

#intro {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#name {
    display: flex;
}

#profile {
    position: relative;
}

#oval {
    position: absolute;
    height: 103%;
    width: 85%;
    left: 25px;
    top: -10px;
}

#my-pic {
    position: relative;
    border-radius: 50%;
    margin-right: 30px;
    border-start-start-radius: 80%;
    border-bottom-right-radius: 80%;
    width: 450px;
    padding: 20px;
    vertical-align: middle;
}

#my-name {
    font-family:'Libre Baskerville', serif;
    font-weight:bold;
    font-size: 3.5em;
    color:#6495ed;
    position: relative;
    margin: 0;
}

.intro-section h3 {
    font-family: 'Work Sans';
    font-weight: normal;
    font-size: 1.em;
    margin-top: 0.7em;
}

#shooting-star {
    transform: translateX(-15px) translateY(-25px);
    width: 100px;
    height: 100px;
}

.paragraph {
    font-family: 'Work Sans';
    font-size: 18px;
    display: flex;
    justify-content: left;
    text-align: left;
}

nav {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
}

nav a {
    font-family:'Libre Baskerville', serif;
    font-size: 20px;
    text-align: center;
    color:#6495ed;
    text-decoration:none;
    padding: 20px 50px;
}

#current {
    /* font-style: italic; */
    /* text-decoration-line: underline;
    text-underline-offset: 8px; */
    background-image: url("assets/squiggle.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 50px;
}


nav a:hover {
    /* color:darkslateblue; */
    /* text-decoration-line: underline;
    text-underline-offset: 8px; */
    background-image: url("assets/squiggle.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 50px;
    /* transition: color 0.4s; */
}


h1 {
    font-family: 'Libre Baskerville';
    font-size: 3em;
    margin: 0;
}

p {
    font-family:'Work Sans';
    color: black;
}

.imgs {
    display: flex;
    justify-content: center;
    overflow: visible;
    flex-wrap: wrap;
    max-width: 100%;
}

.gall-img {
    height: 400px;
    padding: 0px;
    margin: 20px;
    object-fit: cover;
    transition: transform 0.7s ease, box-shadow 0.7s ease;
    background-color: white;
}

.gall-img:hover {
    /* height: 500px; */
    box-shadow: 0px 0px 30px 10px #000000a3;
    transform: scale(1.2);
}

#portfolio {
    background-image: url("images/sky.jpeg");
    background-size:cover;
    background-position-y: 20%;
}

.page-title {
    font-size: 100px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #fdfdf0;
    margin: 0;
    padding-block: 120px 90px;
}

.gallery {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px;
    margin: 0px 170px;
}

.image-and-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0px 10px 30px #00000076 ;
    padding: 20px;
}

.image-and-cat:hover, .project-img:hover {
    box-shadow: 0px 10px 30px #00000076;
    transform: rotate(3deg);
    transition: transform 0.5s;
}

#girl {
    object-fit: contain;
}

.square {
    width: 270px;
    height: 270px;
    object-fit: cover;
    padding-bottom: 15px;
}

.category {
    font-family: 'Work Sans';
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.link {
    text-decoration: underline;
    color: #6495ed;
    font-family: 'Work Sans';
}

h2 {
    font-family:'Libre Baskerville';
    font-size: 2em;
}

.web-work {
    padding: 0px 50px;
    margin: 30px 50px;
    /* border: 2px solid #6495ed; */
}

.web-imgs {
    display: flex;
    flex-direction:row;
    /* flex-flow:row; */
    gap: 20px;
    align-items: stretch;
    margin-top: 50px;
}

.web-imgs img {
    width: 40%;
    height: 100%;
    object-fit:cover;
    border: 1px solid black;
}

.branding {
    display:inline-block;
    line-height: 3;
    column-count: 2;
    column-gap: 60px;
    width: initial;
    margin-right: 50px;
    /* flex: 1 1 auto;
    height: 180px; */
}
.branding img {
    /* object-fit: contain;
    height: 100%;
    width: 100%; */
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 20px;
    border: 1px solid black;
    background-color:white;
}

.series {
    text-align: center;
    margin: 2em 0em;
}

#contact-info {
    background-image: url("images/water.jpg");
    background-size:cover;
    /* height: 100%;
    width: 100%; */
    padding: 10% 20%;
}

#info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
}

section {
    text-align: center;
}

.past-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.project-img {
    height: 500px;
    box-shadow: 0px 10px 30px #00000076;
    cursor: pointer;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.project-info h2 {
    margin: 1em 0em 0em 0em;
    cursor: pointer;
}


.popup-images {
    display: flex;
    flex-wrap: wrap;

}

.popup-images img {
    display: flex;
    flex: 1 1 auto;
    max-width: 100%;
    padding: 1em 0px;
}

.close-btn {
    display: flex;
    margin-left: auto;
    font-size: 2em;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0, 0.3);
    overflow-y: auto;
}

.popup-content {
    margin: 60px;
    padding: 10% 15%;
    display: flex;
    flex-direction: column;
    background-color: #fffdf9;
}
