/* @font-face {
    font-family: "Linden-Hill";
    src: url(/LindenHill-webfont.ttf);
} */

body {
    margin: 0px 0px;
    background-color:white;
    /* background-color:#fdfdf0; */
}

.intro-section {
    padding: 70px 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("images/windowView.gif");
    background-size: cover;
    background-position: center; */
}

#intro {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#name {
    position: relative;
}

#profile {
    position: relative;
}

#oval {
    position: absolute;
    height: 103%;
    width: 85%;
    left: 25px;
    top: -10px;
}

#my-pic {
    position: relative;
    border-radius: 50%;
    margin-right: 30px;
    border-start-start-radius: 80%;
    border-bottom-right-radius: 80%;
    width: 450px;
    padding: 20px;
    vertical-align: middle;
}

#my-name {
    font-family:'Libre Baskerville', serif;
    font-weight:bold;
    font-size: 50px;
    color:#6495ed;
}

#shooting-star {
    position: absolute;
    bottom: 90px;
    left: 250px;
    width: 100px;
    height: 100px;
}

.paragraph {
    font-family: 'Work Sans';
    font-size: 18px;
    display: flex;
    justify-content: left;
    text-align: left;
}

nav {
    text-align: center;
    padding: 30px;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
}

.navigation a {
    font-family:'Libre Baskerville', serif;
    font-size: 20px;
    text-align: center;
    color:cornflowerblue;
    text-decoration:none;
    padding: 40px;
}

#current {
    /* font-style: italic; */
    /* text-decoration-line: underline;
    text-underline-offset: 8px; */
    background-image: url("assets/squiggle.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position:center 65px;
}


.navigation a:hover {
    /* color:darkslateblue; */
    /* text-decoration-line: underline;
    text-underline-offset: 8px; */
    background-image: url("assets/squiggle.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 65px;
    /* transition: color 0.4s; */
}


h1 {
    font-family: 'Libre Baskerville';
}

p {
    font-family:'Work Sans';
    color: black;
}

.imgs {
    display: block;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
}

.gall-img {
    width: fit-content;
    height: 400px;
    padding: 0px;
    margin: 20px;
    object-fit: cover;
    transition: height 1s ease;
}

.gall-img:hover {
    height: 500px;
    box-shadow: 0px 10px 30px #00000076;
}



/* img {
    width: 450px;
    padding: 20px;
    vertical-align: middle;
} */

/* .rotating {
    position: absolute;
    margin:-60px 0 0 -60px;
    animation: spin 3s linear infinite;
} */

/* .shooting-star {
    position: absolute;
} */



/* #star-curve {
    width: 50px;
    height: 50px;
    position:absolute;
    transform:translateX(345px) translateY(-65px) rotate(15deg);
} */

#portfolio {
    background-image: url("images/sky.jpeg");
    background-size:cover;
    background-position-y: 20%;
}

/* #portfolio-banner {
    padding: 60px 0px;
    background-image: url("images/lake.jpg");
    background-size: cover;
    background-position-y: 60%;
} */

.page-title {
    font-size: 100px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #fdfdf0;
    margin: 0;
    padding-block: 120px 90px;
}

.gallery {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0px;
    margin: 0px 170px;
}

.image-and-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    background-color: white;
    /* border: 1px solid black; */
    /* box-shadow: 0px 10px 30px #00000076 ; */
    padding: 20px;
}

.image-and-cat:hover {
    box-shadow: 0px 10px 30px #00000076;
    transform: rotate(3deg);
    transition: transform 0.5s;
}

#girl {
    object-fit: contain;
}

.square {
    width: 270px;
    height: 270px;
    object-fit: cover;
    padding-bottom: 15px;
}

.category {
    font-family: 'Work Sans';
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}


h2 {
    font-family:'Libre Baskerville';
}

.web-work {
    padding: 0px 50px;
    margin: 30px 50px;
    /* border: 2px solid #6495ed; */
}

.web-imgs {
    display: flex;
    flex-direction:row;
    /* flex-flow:row; */
    gap: 20px;
    align-items: stretch;
    margin-top: 50px;
}

.web-imgs img {
    width: 40%;
    height: 100%;
    object-fit:cover;
    border: 1px solid black;
}

.branding {
    display:inline-block;
    line-height: 3;
    column-count: 2;
    column-gap: 60px;
    width: initial;
    margin-right: 50px;
    /* flex: 1 1 auto;
    height: 180px; */
}
.branding img {
    /* object-fit: contain;
    height: 100%;
    width: 100%; */
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 20px;
    border: 1px solid black;
}

#contact-info {
    background-image: url("images/water.jpg");
    background-size:cover;
    /* height: 100%;
    width: 100%; */
    padding: 10% 20%;
}

#info {
    background-color: rgba(255, 255, 255, 0.739);
    padding: 30px;
}
